iot_lab/Lab1/IoT Lab1 Node-Red Flow.json
[{"id":"577e364a.5aec58","type":"mqtt in","z":"79c000.251b4","name":"Subscribe to Temperature Sensor Data","topic":"adnan/room/temperature","qos":"2","datatype":"auto","broker":"c5292202.64bb7","x":250,"y":360,"wires":[["d6b0d303.98317","7c85a027.4eee2"]]},{"id":"d6b0d303.98317","type":"debug","z":"79c000.251b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":400,"wires":[]},{"id":"4c76dd9c.247924","type":"comment","z":"79c000.251b4","name":"Subscribe to Temperature Sensor of interest","info":"","x":210,"y":260,"wires":[]},{"id":"2378eb74.59d844","type":"comment","z":"79c000.251b4","name":"Publish Sensor Data to MQTT Broker","info":"","x":190,"y":60,"wires":[]},{"id":"ddb39565.9d7468","type":"mqtt out","z":"79c000.251b4","name":"Publish Reading to MQTT Broker","topic":"adnan/room/temperature","qos":"","retain":"","broker":"c5292202.64bb7","x":780,"y":120,"wires":[]},{"id":"db55de4b.62683","type":"inject","z":"79c000.251b4","name":"Initiate Temperature Reading","topic":"adnan/room/temperature","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":160,"wires":[["c7ce3044.1ea88"]]},{"id":"27cb2243.33092e","type":"debug","z":"79c000.251b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":220,"wires":[]},{"id":"7c85a027.4eee2","type":"influxdb out","z":"79c000.251b4","influxdb":"56f8aafb.9b8cb4","name":"Store Room Temperature Data","measurement":"AdnanRoomTemp","precision":"","retentionPolicy":"","x":770,"y":320,"wires":[]},{"id":"c7ce3044.1ea88","type":"random","z":"79c000.251b4","name":"Virtual IoT","low":"1","high":"45","inte":"true","property":"payload","x":480,"y":160,"wires":[["ddb39565.9d7468","27cb2243.33092e"]]},{"id":"c5292202.64bb7","type":"mqtt-broker","z":"","name":"MQTT Edge Broker","broker":"broker.stcchain.io","port":"1883","clientid":"Adnan-Room-Temp","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"56f8aafb.9b8cb4","type":"influxdb","z":"","hostname":"95.177.174.211","port":"8086","protocol":"http","database":"sensor","name":"sensor","usetls":false,"tls":""}]