bot_lab/Lab1/BoT Lab1 Node-Red Flow.json
[{"id":"3eb0b250.1baa3e","type":"exec","z":"4383f68b.5cd5a8","command":"web3","addpay":false,"append":"--rpc-url http://testnet.stcchain.io:8545 contract call --address 0x1D0cA13c683eE4A242029159783ab84B1635D998 --abi storage.abi --function retreive","useSpawn":"true","timer":"1","oldrc":false,"name":"Get Temp Reading","x":430,"y":360,"wires":[["3adc851d.d3063a","77275fa6.6c989"],["1d5e30b3.c9319f"],[]]},{"id":"3adc851d.d3063a","type":"debug","z":"4383f68b.5cd5a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"b227a36c.e5046","type":"exec","z":"4383f68b.5cd5a8","command":"web3 --rpc-url http://testnet.stcchain.io:8545 contract call --private-key 0xc87509a1c067bbde78beb793e6fa76530b6382a4c0241e5e4a9ec0a0f44dc0d3 --address 0x1D0cA13c683eE4A242029159783ab84B1635D998 --abi storage.abi --function store","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Sign & Send Temp Reading","x":520,"y":100,"wires":[["b6df908.21c847","6875aaf8.fc0fc4"],["53b887d6.9149a8"],[]]},{"id":"b6df908.21c847","type":"debug","z":"4383f68b.5cd5a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":100,"wires":[]},{"id":"53b887d6.9149a8","type":"debug","z":"4383f68b.5cd5a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":160,"wires":[]},{"id":"fd20f34b.ee22d","type":"comment","z":"4383f68b.5cd5a8","name":"(Auto) Retrieve Value via MQTT Broker from Temperature Smart Sensor","info":"","x":250,"y":300,"wires":[]},{"id":"b90da62f.71fdd8","type":"comment","z":"4383f68b.5cd5a8","name":"(Auto) Set and Sign new Value for Temperature Smart Sensor via MQTT Broker","info":"","x":280,"y":40,"wires":[]},{"id":"1d5e30b3.c9319f","type":"debug","z":"4383f68b.5cd5a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":380,"wires":[]},{"id":"8f9aec58.02b6d","type":"inject","z":"4383f68b.5cd5a8","name":"Auto Set","props":[{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":100,"wires":[["9bdd0e12.975a5"]]},{"id":"9bdd0e12.975a5","type":"random","z":"4383f68b.5cd5a8","name":"","low":"15","high":"45","inte":"true","property":"payload","x":280,"y":100,"wires":[["b227a36c.e5046"]]},{"id":"6875aaf8.fc0fc4","type":"mqtt out","z":"4383f68b.5cd5a8","name":"Publish Smart Temperature Reading","topic":"adnan/room/smart_temperature","qos":"","retain":"","broker":"93f70f89.1556c","x":850,"y":220,"wires":[]},{"id":"cda3787c.49a738","type":"mqtt in","z":"4383f68b.5cd5a8","name":"Subscribe to Smart Temperature","topic":"adnan/room/smart_temperature","qos":"2","datatype":"auto","broker":"93f70f89.1556c","x":190,"y":360,"wires":[["3eb0b250.1baa3e"]]},{"id":"77275fa6.6c989","type":"influxdb out","z":"4383f68b.5cd5a8","influxdb":"8aea9c14.b1bdb","name":"Store Smart Temperature Reading","measurement":"Adnan-Room-SmartTemp","precision":"","retentionPolicy":"","x":760,"y":440,"wires":[]},{"id":"93f70f89.1556c","type":"mqtt-broker","z":"","name":"MQTT Edge Broker","broker":"broker.stcchain.io","port":"1883","clientid":"Adnan-Room-SmartTemp","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8aea9c14.b1bdb","type":"influxdb","z":"","hostname":"95.177.173.88","port":"8086","protocol":"http","database":"sensor","name":"sensor","usetls":false,"tls":""}]